
#main {
}

.fa-stack-1x {
  color:white;
}

.fa.fa-circle {
  border-radius: 50%;
}

.icon-github {
  color: #25292E;
}

.icon-facebook {
  color: #3b5998;
}

.icon-twitter {
  color: #00aced;
}

.icon-linkedin {
  color: #0077B5;
}

#footer .fa {
  color: #788188;
}

/* CSS classes you can use on your table td to display the relevant tile */

td, th {
  padding: 0;
}

td.unopened {
  background: url('images/unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('images/opened.svg');
}
td.flagged {
  background: url('images/flag.svg');
}
td.question {
  background: url('images/question.svg');
}
td.mine {
  /*background: url('images/mine.png');*/
  background: url('images/dealwithitparrot.gif');
}
td.mine-neighbour-1 {
  background: url('images/1.svg');
}
td.mine-neighbour-2 {
  background: url('images/2.svg');
}
td.mine-neighbour-3 {
  background: url('images/3.svg');
}
td.mine-neighbour-4 {
  background: url('images/4.svg');
}
td.mine-neighbour-5 {
  background: url('images/5.svg');
}
td.mine-neighbour-6 {
  background: url('images/6.svg');
}
td.mine-neighbour-7 {
  background: url('images/7.svg');
}
td.mine-neighbour-8 {
  background: url('images/8.svg');
}

/* Positioning minesweeper table and make sure the cells are square */
#minesweeper {
  margin: auto;
  margin-top: 3em;
  border: 1px solid #999;
  border-collapse: collapse;
  height: 75vh;
}

#minesweeper>tbody>tr>td {
  width: 16px;
  height: 16px;
  background-size: cover;
}
