/*for CSS debug*/
/** {
  border: solid 1px red;
}*/

#main {
  height: calc(100vh - 70px);
  padding-top: 50px;
}

.board {
  height: 100%;
  display: flex;
}

footer {
  height: 70px;
  display: flex;
}

footer a,
footer p {
  justify-content: center;
  align-items: center;
}

footer p {
  vertical-align: middle;
}

.icon-social {
  display: flex;
}

.fa-stack-1x {
  color: white;
}

.fa.fa-circle {
  border-radius: 50%;
}

.icon-github {
  color: #25292e;
}

.icon-facebook {
  color: #3b5998;
}

.icon-twitter {
  color: #00aced;
}

.icon-linkedin {
  color: #0077b5;
}

.footer {
  height: 70px;
}
/*
.footer .fa {
  color: #788188;
}*/

/* CSS classes you can use on your table td to display the relevant tile */

td,
th {
  padding: 0;
}

td.unopened {
  background: url("images/unopened.svg");
  cursor: pointer;
}
td.opened {
  background: url("images/opened.svg");
}
td.flagged {
  background: url("images/flag.svg");
}
td.question {
  background: url("images/question.svg");
}
td.parrot {
  /*background: url('images/parrot.png');*/
  background: url("images/dealwithitparrot.gif");
}
td.parrot-neighbour-1 {
  background: url("images/1.svg");
}
td.parrot-neighbour-2 {
  background: url("images/2.svg");
}
td.parrot-neighbour-3 {
  background: url("images/3.svg");
}
td.parrot-neighbour-4 {
  background: url("images/4.svg");
}
td.parrot-neighbour-5 {
  background: url("images/5.svg");
}
td.parrot-neighbour-6 {
  background: url("images/6.svg");
}
td.parrot-neighbour-7 {
  background: url("images/7.svg");
}
td.parrot-neighbour-8 {
  background: url("images/8.svg");
}

/* Positioning minesweeper table and make sure the cells are square */
#parrot_sweeper {
  margin: auto;
  border: 1px solid #999;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}

#parrot_sweeper > tbody > tr > td {
  width: 16px;
  height: 16px;
  background-size: cover;
}

#parrot_sweeper > tbody > tr > td.td-small {
  width: 18px;
  height: 18px;
  background-size: cover;
}

#parrot_sweeper > tbody > tr > td.td-middle {
  width: 20px;
  height: 20px;
  background-size: cover;
}

#parrot_sweeper > tbody > tr > td.td-large {
  width: 24px;
  height: 24px;
  background-size: cover;
}
